{{> header}}
<!-- Details -->
<div class="container details">
    <div class="details-content">
        <h2>{{data.title}}</h2>
        <strong>{{data.category}}</strong>
        <p>{{data.content}}</p>
        <div class="buttons">
            {{#if creator}}
            <a href="#/delete/{{id}}" class="btn delete">Delete</a>
            <a href="#/edit/{{id}}" class="btn edit">Edit</a>
            {{else}}
            <a href="/" class="btn edit">Back</a>
            {{/if}}
        </div>
    </div>
</div>